body{
	background-image:url("http://res.cloudinary.com/dp8xddisq/image/upload/v1491567196/pink_dust_pmajkm.png");
	color:white;
	font-family: 'Hind', sans-serif;
}

#title{
	background-color:#0f0f0f;
}

#navbar{
	width:100%;
	background-color:#E73E1F;
	color:white;
}

.active{
	background-color:#E73E1A;
}

.container{
	width:1200px;
	margin:auto;
	background-color:#0f0f0f;
	padding:25px;
}

h1{
	display:inline-block;
	font-family: 'Press Start 2P', cursive;
	font-size:2em;
}

a{
	color:#e74c3c;
}

.flex{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}

figure, h1{
	text-align:center;
}
h1 span{
	color:#bdc3c7;
}
figure img{
	width:200px;
	height:260px;
}
figure p{
	font-size:1.5em;
}
figcaption{
	font-size:2em;
}

footer{
	height:50px;
	width:100%;
	background-color:#E73E1F;
}

.navbar.navbar-default{
	margin-bottom:0;
}


